[% META title = 'Admin Dashboard' %]

[% headerblock = 1 %]

[% BLOCK header %]
<div class="row  border-bottom white-bg dashboard-header">
<div class="col-lg-12">
	<h2>Admin Dashboard</h2>
	
</div>
</div>
[% END %]

<div class="col-md-8">
<div class="wrapper wrapper-content">

   <div class="row">
       
<div class="ibox">
	<div class="ibox-content">
		<div class="col-md-6">
			<div>Some Content here.....</div>			
			
			[% USE Dumper %]

			[% #Dumper.dump_html(c.user.user_uuid) %]
			<br />
			[% #Dumper.dump_html(c.user.is_primary) %]
			
		</div>
		
		<div class="col-md-6">
			
		</div>
	</div>
</div>
     
   </div>
</div>


</div>
<div class="col-md-4"> 

</div>