[% META title = 'Accounts' -%]

<div class="row">
<div class="col-lg-6">
	<p>Accounts associate a User or related group of Users such as multiple employees for a company.  An Account may have multiple Users.</p>
</div>

</div>


<div class="row">
	<div class="col-md-4 col-md-offset-1">
<p>[%message%]</p>
  [% FOR field IN form.error_fields %]
    [% FOR error IN field.errors %]
    <div class='error' id=error>[% error %] </div>
    [% END %]
  [% END %]
	</div>
</div>

<div class="row">
	<div class="col-md-4 col-md-offset-1">
		<div class="panel panel-primary">
           <div class="panel-heading"><strong>Account Information</strong></div>
	           	<div class="panel-body">
	     		 [% form.render %]
				</div>
		</div>
		<div class="panel panel-primary">
		  <div class="panel-heading"><strong>User Information</strong></div>
			<div class="panel-body">
		 
		 
		 
			</div>
		</div>
		[% USE Dumper %]
		[% Dumper.dump(c.stash.users) %]
		
		
	</div>	
</div>
 