[% META title = 'Manage Account' -%]

<div class="row">

	<div class="tabbable">

		<div class="col-md-3">

			[% INCLUDE blocks/subnav_user.tt2 %]

		</div> <!-- /.col-md-3 -->


		<div class="col-md-6">

			<div class="tab-content">

				<div class="tab-pane active" id="account_edit">
					[% form.render %]
				</div>
		</div> <!-- /.tab-content -->

		</div> <!-- /.col-md-6 -->

	</div> <!-- /.tabbable -->

</div> <!-- /.row -->
