[% META title = 'Change Password' -%]

<div class="row">
	<div class="col-lg-6 col-lg-offset-2">
		<p>Passwords must contain at least one upper case, one lower case, one number and be a minimum of 8 characters long.</p>
		[% form.render %]
	</div>
	<div class="col-lg-4"></div>
</div>


